.bottom-spacing{
    padding-bottom: 30px;
}

.bottom-padding{
    padding-bottom: 2em;
}

.scene-container {
    position: absolute;
    left: 10px;
    right: 10px;
    max-width: 500px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

.custom-education-section {
    padding-top: 10rem;
    padding-bottom: 15rem;
    background: linear-gradient(to bottom,#161616 0,rgba(22,22,22,.5) 75%,#161616 100%),url(../img/psu.png);
    background-size: cover;
}

.custom-experience-section{
    padding-bottom: 30rem;
    background: linear-gradient(to top, #ffffff 0, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
}

.custom-skills-section {
    background: linear-gradient(to bottom,#161616 0,rgba(22,22,22,.9) 75%, #161616 100%),url(../img/code.jpg);
}

.transition-section-to-bottom{
    padding-bottom: 10rem;
    background: linear-gradient(to bottom, #161616 0, rgba(197, 197, 197, 0.9) 50%, #f8f9fa 100%);
}

.transition-section-to-top{
    padding-bottom: 10rem;
    background: linear-gradient(to top, #161616 0, rgba(197, 197, 197, 0.9) 50%, #f8f9fa 100%);
}

.education h1{
    font-size: 4rem;
    font-family: "Varela Round";
}

.experience-h1{
    font-size: 4rem;
    font-family: "Varela Round";
    padding-bottom: 2em;
}

.experience-padding{
    padding-top: 1.5em !important;
    padding-bottom: 1.5em !important;
}


.skills-padding{
    padding-left: 0px;
}
.skills-h1{
    font-size: 4rem;
    font-family: "Varela Round";
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.half-bright{
    filter: brightness(50%);
}

.projects-nav{
    padding-top: 5em;
    background-color: #161616;
}

.align-center{
    text-align: center;
}

.overflow {
    position: relative;
    margin: 0px auto;
    overflow: hidden;
}
.overflow .text {
    display: inline-block;
    overflow: hidden;
    margin: 5px 0px;
    text-align: center;
    font-size: 4rem;
    font-family: "Varela Round";
    font-weight: bold;
}
.overflow.in-view .text span{
    display: inline-block;
    padding: 0px 0px 0px 5px;
    letter-spacing: 1px;
}

.masthead-letter-spacing{
    letter-spacing: 0rem !important;
}

.pla-masthead {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(22, 22, 22, .3) 0, rgba(22, 22, 22, .7) 75%, #161616 100%), url(../img/old_main_fall.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover
}

.pla-section {
    padding-top: 5em;
    padding-bottom: 5em;
}

.mountain-background-1 {
    background: linear-gradient(to bottom,#161616 0,rgba(22,22,22,.9) 75%, #161616 100%),url(../img/mountains-01.jpg);
    background-size: cover;
}

.mountain-background-2 {
    background: linear-gradient(to bottom,#161616 0,rgba(22,22,22,.9) 75%, #161616 100%),url(../img/mountains-02.jpg);
    background-size: cover;
}

.psu-background {
    background: linear-gradient(to bottom,#161616 0,rgba(22,22,22,.9) 75%, #161616 100%),url(../img/psu.png);
    background-size: cover;
}

.la-background {
    background: linear-gradient(to bottom,#161616 0,rgba(22,22,22,.9) 75%, #161616 100%),url(../img/bg-masthead.jpg);
    background-size: cover;
}



.la-trip {
    background: url(../img/bg-masthead.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 10em;
}

.chicago-trip {
    background: url(../img/chicago.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 10em;
}

.dc-trip {
    background: url(../img/dc.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 10em;
}

.test-background {
    background: url(../img/big-sur.png);
    background-size: cover;
    background-position: center;
}

.headshot-background {
    background: url(../img/photo_headshot.jpg);
    background-position: center;
    background-size: cover;
}

.kpmg-background {
    background: url(../img/kpmg-logo-square.png);
    background-position: center;
    background-size: cover;
}

.thon-background {
    background: url(../img/thon-logo-square.jpg);
    background-position: center;
    background-size: cover;
}

.boomi-background {
    background: url(../img/boomi-logo-square.jpg);
    background-position: center;
    background-size: cover;
}

.comcast-background {
    background: url(../img/comcast-logo-square.png);
    background-position: center;
    background-size: cover;
}

.linkedin-background {
    background: url(../img/linkedin-logo-square.png);
    background-position: center;
    background-size: cover;
}

.github-background {
    background: url(../img/github-logo-square.png);
    background-position: center;
    background-size: cover;
}

.philly-map-background {
    background: url(../img/philly_map.png);
    background-position: center;
    background-size: cover;
}

.tysons-map-background {
    background: url(../img/tysons_corner_map.png);
    background-position: center;
    background-size: cover;
}

.chesterbrook-map-background {
    background: url(../img/chesterbrook_map.png);
    background-position: center;
    background-size: cover;
}

.thon-total-background {
    background: url(../img/thon_total.jpg);
    background-position: center;
    background-size: cover;
}

.pla-logo-background {
    background: url(../img/pla_logo.jpg);
    background-position: center;
    background-size: cover;
}

.fourier-background {
    background: url(../img/fourier.png);
    background-position: center;
    background-size: cover;
}

.phone-icon {
    background: url(../img/phone-icon.png);
    background-position: center;
    background-size: cover;
}

.mail-icon {
    background: url(../img/mail-icon.jpg);
    background-position: center;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


.fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.fade-scale.show {
    opacity: 1;
    transform: scale(1);
}

.modal-sizing {
    margin: 1rem;
    max-width: 100%;
}

.h-45 {
    height: 45%;
}