body {
    background-image: url(static.gif);
    background-position: center;
    background-size: cover;
}

h1{
    font-size: 5em;
    color: white;
    -webkit-text-stroke: 1px black;
    text-shadow: 8px 8px black;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 4em;
    color: white;
    -webkit-text-stroke: 1px black;
    text-shadow: 8px 8px black;
    font-family: Arial, Helvetica, sans-serif;
}

.left{
    padding-top: 3%;
    padding-left: 20%;
}

.right{
    padding-left: 50%;
    vertical-align: middle;
}

.hidden{
    display: none;
}