
header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

.left-spacing{
  padding-left: 40px;
}
.bg-primary {
  background-image: url("images/background-img.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bottom-spacing{
  padding-bottom: 20px;
}
