
header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

.typewriter h1{
  overflow: hidden;
  border-right: .15em solid #000000;
  white-space: nowrap;
  margin: 0 auto;
  animation:
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #000000; }
}

.left-spacing{
  padding-left: 40px;
}
.bg-primary {
  background-image: url("images/background-img.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bottom-spacing{
  padding-bottom: 20px;
}
